<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minesweeper</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script> var userID = `{{user.id}}` </script>
</head>

<body>
  <header>
    <h1 class="header-title">MINESWEEPER</h1>
  </header>
  <nav class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        {{#if logged_in}}
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link navbar">Play</a>
        </li>
        <li class="pure-menu-item">
            <a href="/leaderboards" class="pure-menu-link navbar">Leaderboards</a>
        </li>
        <li class="pure-menu-item">
            <a id="logout" class="pure-menu-link navbar">Logout</a>
        </li>
        {{else}}
        <li class="pure-menu-heading pure-menu-link">
            <a href="/signup" class="pure-menu-link navbar">Signup</a>
        </li>
        <li class="pure-menu-heading pure-menu-link">
            <a href="/login" class="pure-menu-link navbar">Login</a>
        </li>
        {{/if}}
    </ul>
  </nav>
  <main>
    <div class="pure-g flex-body">
      {{{body}}}
    </div>
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>