<h2 class= "lb-title">LEADERBOARDS</h2>
<br>
<h4>Welcome {{User.username}}!</h4>
<br>
<body>
    <div class= "pure-control-group">
    {{#each User}}
        <div>
            {{this.}}
        </div>
    {{/each}}
    </div>
</body>


