<h2 class= "lb-title">LEADERBOARDS</h2>
<br>
<h4>Welcome {{User.username}}!</h4>
<br>
    <div>
    {{#each User}}
        <div class= "pure-u-1-3">
            <h5>Game Stats for {{this.username}} </h5>
            <ol>
                <li>{{}}</li>
            </ol>
        </div>
    {{/each}}
    </div>
</body>


