{{!-- If logged in show different stats and leaderboards --}}
{{#if logged_in}}
<h2>Welcome {{Username}}!</h2>


{{!-- LOGGED IN USER STATS --}}

<!--CHECK OUT TO HELP RENDER DIFFERENT STAT TABLES?? https://purecss.io/tables/ -->

{{!-- GLOBAL STATS FOR ALL USERS --}}

<!--CHECK OUT TO HELP RENDER DIFFERENT STAT TABLES?? https://purecss.io/tables/ -->


{{!-- If not currently logged in, provides link to login page --}}
{{else}}
<a href="/login">You landed on a mine! Please login first to play Mineweeper</a>
{{/if}}