<h1>LOGIN</h1>
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-email">Email Address</label>
            <input type="email" id="aligned-email" placeholder="Email Address" required="" />
        </div>
        <div class="pure-control-group">
            <label for="aligned-password">Password</label>
            <input type="password" id="aligned-password" placeholder="Password" required="" />
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">LOGIN</button>
        </div>
    </fieldset>
</form>
<br>
<h1>SIGNUP</h1>
<h4>If you haven't created an account yet, please signup by filling out the form below.</h4>
<form class="pure-form pure-form-aligned" SIGNUP>
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-name">Username</label>
            <input type="text" id="aligned-name" placeholder="Username" required="" />
        </div>
        <div class="pure-control-group">
            <label for="aligned-email">Email Address</label>
            <input type="email" id="aligned-email" placeholder="Email Address" required="" />
        </div>
        <div class="pure-control-group">
            <label for="aligned-password">Password</label>
            <input type="password" id="aligned-password" placeholder="Password" required="" />
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">SIGNUP</button>
        </div>
    </fieldset>
</form>

<script src="./js/login.js"></script>