<form class="pure-form pure-form-aligned">
    <h2>Please log in to start playing Minesweeper!</h2>
    <fieldset>
        <div class="pure-control-group">
            <label id= "email-login" for="aligned-email">Email</label>
            <input type="email" id="aligned-email" placeholder="Email Address" required="" />
        </div>
        <div class="pure-control-group">
            <label id= "password-login" for="aligned-password">Password</label>
            <input type="password" id="aligned-password" placeholder="Password" required="" />
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary login-form"><a href= "../minesweeper">LOGIN</a></button>
        </div>
    </fieldset>
</form>
<br>
<br>
<h4>If you do not have an account yet, please signup<a href='./signup'>HERE</h4>