{{!-- If logged in allow user to play the game --}}
{{#if logged_in}}

<section>
    
    <br>
    <h3>Hold shift and click to flag a suspected Mine.</h3>
    <h3>Click a tile to reveal.</h3>
    <h3>Time starts now. Good luck!</h3>
    <br>

    <div class="flex-body">
        <button class="pure-button" id="refresh-button" type="button">Start Over</button>
    </div>

    <script src="/js/refresh.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <script src="/game/minesweeper-tile.js"></script>
    <script src="/game/minesweeper-logic.js"></script>
    <script src="/game/minesweeper.js"></script>
    
    <div id="minesweeper-game">
        {{!-- Phaser creates a canvas element here --}}
    </div>
</section>

{{else}}
<a href="/login">You landed on a mine! Please login first to play Mineweeper</a>
{{/if}}