{{!-- If logged in allow user to play the game --}}
{{#if logged_in}}
<section id="minesweeper-game">
    {{!-- Render the Minesweeper game here?? --}}
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <script src="/game/minesweeper-tile.js"></script>
    <script src="/game/minesweeper-logic.js"></script>
    <script src="/game/minesweeper.js"></script>
</section>

{{else}}
<a href="/login">You landed on a mine! Please login first to play Mineweeper</a>
{{/if}}