{{!-- If logged in allow user to play the game --}}
{{#if logged_in}}
<section>
    {{!-- Render the Minesweeper game here --}}
    <script src="../game/minesweeper.js"></script>
    <div>
        <style scoped="">
            .button-xlarge {
                font-size: 125%;
            }
        </style>
        <button class="button-xlarge pure-button">START GAME</button>
    </div> 
</section>

{{else}}
<a href="/login">You landed on a mine! Please login first to play Mineweeper</a>
{{/if}}