<h4>To begin playing Minesweeper please signup by filling out the form below.</h4>
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label id= "username-signup" for="aligned-name">Username</label>
            <input type="text" id="aligned-name" placeholder="Username" required="" />
        </div>
        <div class="pure-control-group">
            <label id= "email-signup" for="aligned-email">Email Address</label>
            <input type="email" id="aligned-email" placeholder="Email Address" required="" />
        </div>
        <div class="pure-control-group">
            <label id=" password-signup" for="aligned-password">Password</label>
            <input type="password" id="aligned-password" placeholder="Password" required="" />
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary signup-form"><a href= "../login">SIGNUP</a></button>
        </div>
    </fieldset>
</form>