<div class="flex-column">
    <h4>To begin playing Minesweeper please signup by filling out the form below.</h4>
    <form class="pure-form pure-form-aligned signup-form">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Username</label>
                <input type="text" id= "username-signup" name="aligned-name" placeholder="Username" required="" />
            </div>
            <div class="pure-control-group">
                <label for="aligned-email">Email Address</label>
                <input id= "email-signup" type="email" name="aligned-email" placeholder="Email Address" required="" />
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Password</label>
                <input id="password-signup"  type="password" name="aligned-password" placeholder="Password" required="" />
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">SIGNUP</button>
            </div>
        </fieldset>
    </form>
</div>

<script src="/js/createUser.js"></script>