* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4DA8DA;
    color: #EEFBFB;
}

nav {
    margin: 10px 0;
}

.navbar {
    color: black;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #203647;
    text-shadow: #EEFBFB; 
    margin: 10px 0;
}

.header-title {
    width: fit-content;
    padding: 10px;
    background-color: #EEFBFB;
    border-radius: 5px;
    box-shadow: #203647 5px 5px;
}

h2, h4, h5 {
    text-align: center;
    color: #203647;
}

#minesweeper-game, .flex-body {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lb-title {
    flex: 0 0 100%;
    margin: 10px 0;
}

#refresh-button {
    margin: 10px 0;
}

#game-container {
    display: flex;
    justify-content: center;
}

.stats-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
}

.leaderboards {
    flex: 0 0 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leaderboards-message, .leaderboard-container {
    margin: 10px 0;
    flex: 0 0 100%;
}

.leaders-container {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 90%;
}

.leaderboard-line {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-bottom: black 2px;
}

.leaderboard-line div {
    display: inline-flex;
    flex: 0 0 30%;
}

.stats-headers {
    border-bottom: solid #203647 5px;
}

.leaderboard-headers {
    color: #203647;
    font-weight: 1000;
}