* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4DA8DA;
    color: #EEFBFB;
}

.navbar {
    color: black;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #203647;
    text-shadow: #EEFBFB; 
}

.header-title {
    width: fit-content;
    padding: 10px;
    background-color: #EEFBFB;
    border-radius: 5px;
    box-shadow: #203647 5px 5px;
}

h2, h4, h5 {
    text-align: center;
    color: #203647;
}

#minesweeper-game {
    display: flex;
    justify-content: center;
}

.lb-title {
    width: 100%;
}

#game-container {
    display: flex;
    justify-content: center;
}